   /* ------   FOOTER STYLES  -----*/
   footer{
	margin: 10% 0 0 0;
	width: 100%;
	padding-top: 2%;
	background:#136c44;
}
.footer-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.footer-text{
	margin: auto 20px;
	width: 40%;
	min-width: 400px;
}
.footer-menu{
	display: flex;
	width: 30%;
	min-width: 400px;
	margin: auto;
}
.menu{
	width: 100%;
}
footer .menu li{
	font-size: 1.2em;
	margin: 0 10px;
	cursor: pointer;
	margin:25px auto;
}
footer .menu li:hover{
	opacity: 0.7;
}
footer p{
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 1.1em;
}
.footer-info{
	display: flex;
	flex-direction: column;
	width: max-content;
	margin: auto;
}
.newsleatter{
	width: 80%;
	height: 30px;
	border-radius: 10px;
	text-align: start;
	margin: 20px auto;
}
.footer-icon{
	width: 25%;
	min-width: 300px;
	margin: auto;
}
.icon{
	display: flex;
	width: 100%;
	margin: auto;
}
footer .icon li{
	font-size: 2em;
	cursor: pointer;
	transition: 0.5s;
	margin:25px auto;
}
footer .icon li:hover{
	transform: translateY( -10px);
	opacity: 1;
}
.fa-whatsapp:hover {
    color: rgb(108, 233, 108);
}
.fa-facebook-f:hover {
    color: blue;
}
.fa-instagram:hover {
    color: rgb(255, 55, 0);
}
.copyright{
	background-color: #111;
	width: 100%;
}
@media screen and (max-width:700px) {
	header{
		height: 40vw;
		opacity: 1;
	}
	.logo{
		border-radius: 80px ;
		width: 120px;
		height: auto;
	}
	.main-nav{
		position: fixed;
		top: 0;
		left: 0;
		margin-left: -100%;
		height: 100vh;
		width: 100%;
		transition: all .2s linear;
		background-color: #01080486;
		z-index: 1;
	}
	.main-nav.show{
		margin-left: 0;
	}
	.nav-links{
		background-color: rgb(1, 36, 55);
		display: flex;
		flex-direction: column;
		width: 70%;
		height: 100%;
		align-items: center;
		justify-content: space-around;
		padding-top: 100px;
		padding-bottom: 100px;
		margin: 0%;
	}
	.link-item > a::after{
		content: "";
		position: absolute;
		bottom: -15px;
		left: 0;
		width: 0;
		height: 3px;
		background-color: #1eeaad;
		transition: width 0.5s ease; /* Transición del ancho */
	}
	.link-item > a{
		color: white;
		width: 100%;
		font-size: 20px;
		font-weight: bold;
		position: relative;
	}
	.link-item{
		width: 100%;
	}
	.link-item:last-child{
		flex-direction: column;
	}
	.nav-icons{
		display: flex;
		justify-content: space-around;
		margin: 40px;
		width: 80%;
	}
	.nav-icons li i{
		font-size: 18px;
	}
	.sub-menu{
		width: 100%;
	}
	.sub-menu  li  a{
		font-size: 18px;
		margin: auto;
	}
	.nav-links li:hover > .sub-menu {
		top:100%;
	}
	.img-home{
		height: 400px;
		margin-top: 15px;
	}
	.button-menu{
		z-index: 200;
		width: 60px;
		height: 60px;
		border: none;
		display: flex;
		background: rgb(22, 28, 32);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border-radius: 6px;
	}
	.button-menu span{
		width: 37px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: #e3e9e4;
		border-radius: 3px;
		transform-origin: 4px 0px;
		transition: all .2s linear;
	}
	.button-menu.close span {
		opacity: 1;
		transform: rotate(45deg) translate(0px, 0px);
		background: #eff1ee;
	}
	.button-menu.close span:nth-child(2){
		transform: rotate(-45deg) translate(-8px, 5px);
	}
	.button-menu.close span:nth-child(3){
		display: none;
	}
	.content h1{
		font-size: 2rem;
		font-weight: 400;
		margin: 10px auto;
	}
	.content p, .content h2{
		text-align: center;
		margin: 10px auto;
	}
	.content h2 {
		font-size: 2rem;
		font-weight: 300;
	}
	.slide-left{
		font-size: 1rem;
	}
	.footer-content {
		display: flex;
		flex-direction: column;
		justify-content:center ;
	}
	.footer-text{
		margin: 15px auto;
	}
	.footer-text p {
		width: 80%;
		margin: auto;
	}
	.footer-menu{
		width: 100%;
	}
	.menu {
		margin: auto;
	}
	.footer-icon{
		width: 100%;
		margin: auto;
	}
}